<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ford Korea</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&family=Saira:wght@300;400;500;600&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Saira:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  <link rel="stylesheet" href="../fonts/nanum-square.css" />
  <script src="https://kit.fontawesome.com/d715487fe4.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
  <link rel="stylesheet" href="../css/common.scss">
  <script defer src="../js/common.js"></script>
  <link rel="stylesheet" href="../css/cc.scss">
  <script defer src="../js/cc.js"></script>
</head>
<body>
  
  <header>
    <ul class="header-menu">
      <li class="logo">
        <a href="../index.html">
          <img src="../images/logo-mustang.png" alt="">
          FORD MUSTANG
        </a>
      </li>
      <li>
        <a href="./vehicle.html">Vehicle</a>
      </li>
      <li>
        <a href="./tech.html">Technology</a>
      </li>
      <li>
        <a href="./company.html">About Ford</a>
      </li>
      <li>
        <a href="./cc.html">Customer Center</a>
      </li>
      <li class="lang-select">
        <a href="javascript:void(0);">
          <span class="lang-select-text">KO</span>
          <span class="material-icons arrow-down">
            keyboard_arrow_down
          </span> 
        </a>
        <div class="lang-box">
          <div>KO</div>
          <div>EN</div>
        </div>
      </li>
      <li class="gnb">
        <ul>
          <li>
            <a href="./signin.html">sign in</a>
          </li>
          <li>
            <a href="javascript:void(0);">join us</a>
          </li>
        </ul>
      </li>
    </ul>
    
  </header>
  <div class="mobile-header-btn">
      <span></span>
      <span></span>
      <span></span>
  </div>

  <!-- header -->

  <main>
    <section class="cc-section1">
      <div class="inner">
        <h2>
          <span>Customer Center</span>
          포드코리아에서는 최선의 서비스를 제공하고자
          포드 고객센터를 운영하고 있습니다.
          언제나 저희의 목표는 고객의 만족입니다. 질문이나 의견이 있으실 때에는 주저하지 마시고 저희에게 연락하시기 바랍니다. 최대한 신속한 서비스로 여러분의 관심과 성원에 보답하겠습니다.
        </h2>
      </div>
    </section>

    <section class="cc-section2">
      <div class="inner">
        <ul>
          <li>
            <span class="material-icons-outlined">
              call
            </span>
            <p>
              <span>080-300-3673</span>
              포드 24시간 긴급출동 서비스
            </p>
          </li>
          <li>
            <span class="material-icons-outlined">
              call
            </span>
            <p>
              <span>1600-6003</span>
              포드링컨 고객센터<br />
              (근무시간 : 평일 09:00 ~ 18:00)
            </p>
          </li>
          <li>
            <span class="material-icons-outlined">
              email
            </span>
            <p>
              <span>infokr1@ford.com</span>
              EMAIL
            </p>
          </li>
          <li>
            <span class="material-icons-outlined">
              location_on
            </span>
            <p>
              <span>
                전시장 및 서비스센터<br />
                한눈에 보기
              </span>
            </p>
          </li>
        </ul>
      </div>
    </section>

  </main>
  



  <footer>
    <div class="inner">
      <div class="footer-top">
        <ul class="footer-logo">
          <li>
            <a href="./index.html">
              <img src="../images/logo-mustang.png" alt="">
            </a>
          </li>
        </ul>
        <ul class="footer-lnb">
          <li>
            <a href="javascript:void(0);">
              저작권안내
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              개인정보 처리방침
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              이용약관
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              윤리경영 사이버 감사실
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              영상정보처리기기 운영관리방침
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              포드 고객센터
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              세일즈 프로모션
            </a>
          </li>
          <li>
            Copyright © 2022 Ford Sales & Service Korea Inc.
          </li>
        </ul>
        
      </div>
      <div class="footer-bottom">
        <ul class="footer-icons">
          <li>
            <i class="fab fa-instagram"></i>
          </li>
          <li>
            <i class="fab fa-youtube"></i>
          </li>
          <li>
            <i class="fab fa-facebook-f"></i>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>