<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ford Mustang</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&family=Saira:wght@300;400;500;600&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Saira:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  <link rel="stylesheet" href="../fonts/nanum-square.css" />
  <script src="https://kit.fontawesome.com/d715487fe4.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
  <link rel="stylesheet" href="../css/common.scss">
  <script defer src="../js/common.js"></script>
  <link rel="stylesheet" href="../css/tech.scss">
  <script defer src="../js/tech.js"></script>
</head>
<body>
  <header>
    <ul class="header-menu">
      <li class="logo">
        <a href="../index.html">
          <img src="../images/logo-mustang.png" alt="">
          FORD MUSTANG
        </a>
      </li>
      <li>
        <a href="./vehicle.html">Vehicle</a>
      </li>
      <li>
        <a href="./tech.html">Technology</a>
      </li>
      <li>
        <a href="./company.html">About Ford</a>
      </li>
      <li>
        <a href="./cc.html">Customer Center</a>
      </li>
      <li class="lang-select">
        <a href="javascript:void(0);">
          <span class="lang-select-text">KO</span>
          <span class="material-icons arrow-down">
            keyboard_arrow_down
          </span> 
        </a>
        <div class="lang-box">
          <div>KO</div>
          <div>EN</div>
        </div>
      </li>
      <li class="gnb">
        <ul>
          <li>
            <a href="./signin.html">sign in</a>
          </li>
          <li>
            <a href="javascript:void(0);">join us</a>
          </li>
        </ul>
      </li>
    </ul>
    
  </header>
  <div class="mobile-header-btn">
      <span></span>
      <span></span>
      <span></span>
  </div>

  <!-- header -->

  <main>
    <section class="tech-section1">
      <div class="inner">
        <h2>
          Technology<br />
          <span>차별화된 변화를 만드는 포드 머스탱</span>
        </h2>
      </div>
    </section>
    
    <section class="tech-main-text">
      <div class="inner">
        <h1>
          ECOBOOST
        </h1>
        <p>
          최고의 엔진상을 수상한 에코부스트 엔진은 포드 역사상 기술적으로 가장 뛰어난 엔진입니다.<br />
          탁월한 성능은 물론, 20% 개선된 연비까지 자랑하며 연비와 성능을 동시에 잡았습니다.
        </p>
      </div>
    </section>
    


    <section class="tech-section2">
      <div class="inner">

        <div class="boost-logo-img">
          <img src="../images/tech/eco-boost-logo.png" alt="">
          <h2>혁신적인 기술</h2>
        </div>

        <div class="tech-section2-icons">
          <div>
            <span class="material-icons-outlined">
              shower
              </span>
            <h3>직접 연료 분사</h3>
            <p>
              고압연료계통 적용으로 연료 직접 분사, 연료량 자동 조절 및 급기 온도 저감을 통해 압축비를 올렸습니다. 그 결과, 포트분사 엔진보다 강력한 파워와 높은 효율을 제공합니다
            </p>
          </div>
          <div>
            <span class="material-icons-outlined">
              electric_rickshaw
              </span>
            <h3>가변 캠샤프트 타이밍</h3>
            <p>
              가벼운 설계로 연비를 향상시키고 기통 수를 줄여 마찰을 최소화했으며 에너지를 더욱 절약합니다. 더불어 터보차저와 직접 연료 분사를 통해 더 큰 엔진과 대등한 파워를 자랑합니다.
            </p>
          </div>
          <div>
            <span class="material-icons-outlined">
              battery_charging_full
              </span>
            <h3>터보 차저</h3>
            <p>
              터보차저는 버려지는 배기가스를 압축하여 엔진에 다시 분사함으로써 파워를 크게 향상시키고, 동시에 가변 캠샤프트 타이밍은 낮은 rpm에서 발생하는 터보 지체 현상을 없애줍니다.
            </p>
          </div>
        </div>

      </div>
    </section>

    <section class="tech-section3">
      <div class="inner">
        <div class="tech-section3-left">
          <img src="../images/tech/tech-section3-img.png" alt="">
          <h3>
            에코부스트 엔진을 최초로 탑재한 머스탱이 출시되었습니다. 작아진 엔진에도 불구하고 3.7L V6보다 향상된 314마력(PS)의 파워를 자랑합니다.
          </h3>
        </div>
      </div>
    </section>

    <section class="tech-section4">
      <div class="inner">
        <ul class="tech-section4-img">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <ul class="tech-section4-content">
          <li>
            <p>
              <span class="material-icons-outlined">
                public
                </span><br />
              International Engine of the year
            </p>
          </li>
          <li>
            <p>
              <span class="material-icons-outlined">
                emoji_events
              </span>
              <span class="material-icons-outlined">
                emoji_events
              </span>
              <span class="material-icons-outlined">
                emoji_events
              </span><br />
              3년 연속 최고의 엔진상
            </p>
          </li>
          <li>    
            <p>
              <span class="material-icons-outlined">
                emoji_events
              </span>
              <span class="material-icons-outlined">
                emoji_events
              </span>
              <span class="material-icons-outlined">
                emoji_events
              </span>
              <span class="material-icons-outlined">
                emoji_events
              </span><br />
              4년 연속 1.0L 이하 최고의 엔진상
            </p>
          </li>
          <li>
            <p>
              <span class="material-icons-outlined">
                military_tech
                </span><br />
              2012 최고의 새 엔진상
            </p>
          </li>
        </ul>
      </div>
    </section>

  </main>

  <footer>
    <div class="inner">
      <div class="footer-top">
        <ul class="footer-logo">
          <li>
            <a href="./index.html">
              <img src="../images/logo-mustang.png" alt="">
            </a>
          </li>
        </ul>
        <ul class="footer-lnb">
          <li>
            <a href="javascript:void(0);">
              저작권안내
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              개인정보 처리방침
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              이용약관
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              윤리경영 사이버 감사실
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              영상정보처리기기 운영관리방침
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              포드 고객센터
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              세일즈 프로모션
            </a>
          </li>
          <li>
            Copyright © 2022 Ford Sales & Service Korea Inc.
          </li>
        </ul>
        
      </div>
      <div class="footer-bottom">
        <ul class="footer-icons">
          <li>
            <i class="fab fa-instagram"></i>
          </li>
          <li>
            <i class="fab fa-youtube"></i>
          </li>
          <li>
            <i class="fab fa-facebook-f"></i>
          </li>
        </ul>
      </div>
    </div>
  </footer>



</body>
</html>